
*{box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
width: 70%;
/* background-color: aqua; */
/* border: 2px solid red; */
margin: auto;
/* line-height: 2em; */
}
p, li {
    /* font-family: 'Roboto Mono', monospace; */
    font-size: 20px;
}
h2{
    padding-top: 20px;
}
h3{
    margin: 10px 0;
}

header h1{
    display: inline-block;
    position: absolute;
    background-color: rgb(86, 89, 240);
    width: 58%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 200px;
    /* padding-right: 40%;
    padding: 1rem 25% 1rem 30%; */
    z-index: -1;
}
header img{
    border-radius: 50%;
    border: 6px  aqua solid;
    width: 20%;
    /* margin-left: 10px; */
}

.aqua-line{
    height: 5px;
    background-color: aqua;
}
.container{
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    
}
.container:first-child{
    flex: .5;
}
.aside{
    /* border: black 1px solid; */
    width: 30%;
    padding: 15px;
    margin-right: 2rem;

}
.section{
    margin: 20px;

}

.vaardigheden li, .werkervaring li, .onderwijs li{
    list-style: none;
    padding-left: 20px;
}
header {
    /* border: 1px black solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 20%;
    border-radius: 50%;
    border: aqua 9px solid;
}
.werkervaring{
}
@media screen and (max-width: 750px){
body{
    width: 100%;
}
header{
    height: 150px;
}
h2{
    padding-top: 5px;
}

}
