* html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
 body{
    background-image: url(img/background-img-front-end.png);
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 728px;
} 
h1{
    position: absolute;
    left: 20%;
    text-align: center;
    font-size: 60px;
    color: white;
    margin: 15%;
    margin-top: 150px;
    
}
a{
    color:white;
    text-decoration: none;
}
/* .spook{
    height: 40em;
} */
main{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* border: 1px white solid; */
    text-align: center;
    color: white;
    /* padding: top 50px; */
}
h3{
    font-size: 25px;
    margin: 5px;
}

main img{
    /* padding-top:50px; */
    width: 300px;
    height: 180px

} 
button{
    position: absolute;
    top: 8%;
    left: 4%;
    padding: 7px;
}
button a{
    color: black;
}