
*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
width: 70%;
/* background-color: aqua; */
/* border: 2px solid red; */
margin: auto;
/* line-height: 2em; */
}
p, li {
    /* font-family: 'Roboto Mono', monospace; */
    font-size: 20px;
}
h2{
    padding-top: 20px;
}
h3{
    margin: 10px 0;
}
header h1{
    display: inline-block;
    position: absolute;
    left: 18%;
    background-color: rgb(118, 119, 233);
    width: 82%;
    padding-top: 10px;
    padding-left: 200px;
    padding-bottom: 10px;
    z-index: -1;
}
header img{
    border-radius: 50%;
    border: 6px  rgb(118, 119, 233);
    box-shadow: 0 0 20px 5px rgba(175, 192, 207, 0.664);    
    width: 20%;
    /* margin-left: 10px; */
}
.aqua-line{
    height: 5px;
    background-color: rgb(118, 119, 233);
}
 .container{
    display: inline-block;
    margin-top: 20px;
    position: relative;
} 
.aside{
    border: black 1px solid;
    display: inline-block;
    background-color: rgba(136, 172, 204, 0.664);
    width: 30%;
    padding: 15px;
}
main{
    border: 1px solid red;
    display: inline-block;
    margin-top:50px;
    width: 69%;
    background-color: #e1b0e6ea;
    padding-bottom: 30px;
    padding-left: 25px;
}
.vaardigheden li, .werkervaring li, .onderwijs li{
    list-style: none;
    padding-left: 20px;
}
header {
    border: 1px solid black;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
header img{
    width: 20%;
    border-radius: 50%;
    border:  rgb(118, 119, 233) 9px solid;
}
.Elektronica{
    padding-bottom: 20px;
}
@media screen and (max-width: 750px){
body{
    width: 100%;
}
header{
    height: 150px;
}
h2{
    padding-top: 5px;
}

}
