*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
body{
        background-repeat: no-repeat;
        background-position: center ; 
        background-size: cover;
}
    
a{
        text-decoration: none;
}

.table{
    background-color: aqua;
    width: 420px;
    padding: 10px;
    border:1px solid black;
    
}
.about{
    background-color: aquamarine;
    border:1px solid black;
}
.zorgvoorelkaar-Breda{
    /* background-color: blueviolet; */
    border: 1px solid black;
    text-align: center;
}
.bnl-stansvormen{
    background-color: chartreuse;
    border: 1px black solid;
}
.fotograaf{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(9, 140px);
    margin: auto;
    justify-content: center;
    background-image: url(/img/Breda.jpg);
    background-color: rgba(240, 248, 255, 0.599);
    /* background-image: url(/img/Breda-snacht.jfif) */
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0 auto; */
}
.zorgvoor-icon img{
    width: 200px;
    padding: 20px;
    /* display: inline-block; */


}
.zorgvoor-icon h2{
    
width: 500px;    
    text-align: center;
    /* align-items: center; */
    
}